input{
  margin-bottom: 10px;
}
label{
  margin-top:10px;
  display: block;
  text-align: left;
}
.gamersMart{
  font-size: 30px;
  font-weight: bold;
  
}
.signuplogo{
  margin-top:30px;
}

.signupbtn{
  margin-top: 30px;
}