.login-container{
    /* text-align: center; */
    /* vertical-align: middle;  */
     /* align-items:center;  */
    /* justify-content: center;  */
    margin: auto;
    height: 300px;
    width: 300px;
    background-color:lightgray;
    border-radius: 10px;
    border-color: grey;
}

h3{
    margin:50px;
}
.login{
   /* height: 250px;
   width: 250px;
   background-color: blue;
    */
   /* display: inline-block; */
   
}

.btn-md{
   
    margin-top: 10px;
    width: 250px;
}

.signIn input{
    width: 250px;
    margin-bottom: 10px;
}

.signIn label{
    font-size: large;
    font-weight: 500;
    margin-bottom: 10px;
}