.login-container{
    /* text-align: center; */
    /* vertical-align: middle;  */
     /* align-items:center;  */
    /* justify-content: center;  */
    margin: auto;
    height: 300px;
    width: 300px;
    background-color:rgb(245, 245, 245);
    border-radius: 10px ;
    border: rgb(150, 150, 150) solid 1px;
    /* border-width: 10px; */
    /* border-width: 10px;
    border-color: red; */
}

h5{
    margin-top: 50px;
    margin-bottom: 20px;
}
.login{
   /* height: 250px;
   width: 250px;
   background-color: blue;
    */
   /* display: inline-block; */
   
}

.btn-md{
   
    margin-top: 10px;
    width: 250px;
}

.signIn input{
    width: 250px;
    margin-bottom: 10px;
    border-color: rgb(200, 200, 200);
    border-radius: 3px;
    border-width: 1px;
}

.signIn label{
    font-size: large;
    font-weight: 500;
    margin-bottom: 10px;
}